torch==1.0.0
torchvision==0.2.1
scikit-image==0.16.2
pytest==5.4.1
pycodestyle==2.5.0
opencv-python==3.4.2.17
future==0.18.2
tensorboardX==2.0
# --extra-index-url https://developer.download.nvidia.com/compute/redist/cuda/10.0 nvidia-dali==0.10.0
